<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>CategoriesController</servlet-name>
        <servlet-class>thruster.controllers.CategoriesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>thruster.controllers.CartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoriesController</servlet-name>
        <url-pattern>/CategoriesController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CommentsController</servlet-name>
        <servlet-class>thruster.controllers.CommentsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommentsController</servlet-name>
        <url-pattern>/CommentsController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>thruster.controllers.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>thruster.controllers.ProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/ProductController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Product_SubcategoriesController</servlet-name>
        <servlet-class>thruster.controllers.Product_SubcategoriesController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Product_SubcategoriesController</servlet-name>
        <url-pattern>/Product_SubcategoriesController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Purchase_detailsController</servlet-name>
        <servlet-class>thruster.controllers.Purchase_detailsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Purchase_detailsController</servlet-name>
        <url-pattern>/Purchase_detailsController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PurchasesController</servlet-name>
        <servlet-class>thruster.controllers.PurchasesController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PurchasesController</servlet-name>
        <url-pattern>/PurchasesController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShoppingCartController</servlet-name>
        <servlet-class>thruster.controllers.ShoppingCartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShoppingCartController</servlet-name>
        <url-pattern>/ShoppingCartController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SubCategoriesController</servlet-name>
        <servlet-class>thruster.controllers.SubCategoriesController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubCategoriesController</servlet-name>
        <url-pattern>/SubCategoriesController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>thruster.controllers.UserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProductInformationController</servlet-name>
        <servlet-class>thruster.controllers.ProductInformationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductInformationController</servlet-name>
        <url-pattern>/ProductInformationController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DBTester</servlet-name>
        <servlet-class>thruster.servlets.DBTester</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DBTester</servlet-name>
        <url-pattern>/DBTester</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/CartController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
